DB_USER=admin
DB_PASSWORD=password123
DB_NAME=medical_data
DB_HOST=localhost
DB_PORT=5433
POSTGRES_DSN=postgresql://admin:password123@localhost:5433/medical_data
MARTS_SCHEMA=marts
TG_API_ID=your_telegram_api_id
TG_API_HASH=your_telegram_api_hash
